body {
    font-family: 'Nunito', sans-serif;
}

.bincontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }

  .bin-image-container {
    display: flex;
    flex-direction: row;
  }

.binimage {
    display: none;
}
.binimage.visible {
    display: block;
}

.binimage img {
    width: 200px;
    height: auto;
}
